/* Global Font */
html,body {
    font-family:Georgia,"Hiragino Sans GB",Arial,"Songti SC",SimSun,sans-serif !important;
}

/* ============ Hide the element ============ */
/* I don't know what is? */
.promptbird,

/* The nav text */
.nav>li>a .text,

/* The new tweet button | if you want to post new tweet,please type "N" key */
.topbar-tweet-btn,

/* The banner */
.BannersContainer,

/* Hide the Sidebar when view the Home page */
.wrapper-home .dashboard,

/* Mini profile module in sidebar */
.wrapper .mini-profile,

/* Who to follow module in sidebar */
.wrapper .wtf-module,

/* Trends module in sidebar */
.wrapper .trends,

/* Copyright and the other links module in sidebar */
.wrapper .Footer,

/* Photos and videos module in sidebar */
.wrapper .enhanced-media-thumbnails,

/* Tweet to "someone" module in sidebar */
.wrapper .module.component,

/* Recently added members module in sidebar */
.wrapper .newest-members-module,

/* Main timeline Title,like"Tweets" */
.header-inner,

/* Hide the photo in the default timleline */
.is-preview,

/* Hide the instgaram photo by default */
.cards-instagram,

/* ? */
.expanded-content,

/* Tweet option,like "reply", "Retweet"... */
.tweet-actions,

/* Signup form when you not sign in */
.signup-call-out.profile-signup-call-out {
    display:none !important;
}

/* ============ Toolbar ============ */
/* Resize the toolbar width */
.global-nav .container {
    width:730px !important;
    min-width:730px !important;
    max-width:730px !important;
}

/* Toolbar Search */
.global-nav .form-search {
    margin-right:0 !important;
}

/* Toolbar Nav */
.nav {
    margin-left:60px !important;
}

/* Toolbar right panel,like "DM","settings"... */
.global-nav .pull-right .right-actions {
    margin-left:0 !important;
}

.nav.right-actions>li>a,
.nav.right-actions>li>button {
    margin-right:0 !important;
    margin-left:15px !important;
}

.session .dropdown-menu,
.global-nav .pull-right .dropdown-menu,
.global-nav .secondary-nav .dropdown-menu {
    margin:15px -22px 0 0 !important;
}

/* Toolbar Logo & Toolbar State */
.bird-topbar-etched,
.pushstate-spinner {
    margin:0 !important;
    position:absolute !important;
    left:10px !important;
    top:15px !important;
}

/* ============ Wrapper ============ */
/* Resize the wrapper width */
.wrapper,
.wrapper-narrow {
    width:auto !important;
    min-width:730px !important;
    max-width:730px !important;
    padding:60px 0 30px !important;
}

/* Let the sidebar flow document */
.wrapper .dashboard {
    float:none !important;
    position:absolute !important;
    left:-170px !important;
    top:60px !important;
    width:160px !important;
}

/* Main content */
.content-main {
    float:none !important;
    width:100% !important;
}

/* ============ Timeline ============ */
/* Timeline avatar */
.stream-item-header .avatar,
.permalink-header .avatar {
    margin-top:2px !important;
}

/* Display the photo and other content when timeline tweet expand */
.stream-item.open .is-preview,
.stream-item.open .expanded-content {
    display:block !important;
}

/* Change the timeline tweets font size and line height */
li.stream-item,
.tweets-wrapper li,
.recent-tweets li {
    font-size:16px !important;
    line-height:26px !important;
}

.tweet {
    padding-top:12px !important;
}

.tweet .discover-social-context .Icon,
.tweet .discover-summary-context .Icon {
    margin-top:5px !important;
}

.stream-item-activity {
    padding-top:6px !important;
}

.stream-item-activity-me .activity-type {
    top:14px !important;
}

.tweet .stream-item-footer {
    padding-top:0 !important;
}

.stream .stream-item .tweet-actions,
.stream .stream-item.open .tweet-actions,
.stream .stream-item-activity .stream-item-footer .tweet-actions,
.stream .stream-item.open .expanded-conversation .original-tweet-container .tweet-actions {
    height:30px !important;
    background:none !important;
    box-shadow:0 0 0 0 rgba(255,255,255,0) !important;
}

.stream-item-activity-me .latest-tweet .tweet-row {
    max-width:100% !important;
}

.tweet:hover .tweet-actions,
.stream-item.open .tweet-actions {
    display:inline-block !important;
}

/* ============ Tweet Detail ============ */
/* Default display the photo and tweet actions */
.wrapper-permalink .is-preview,
.wrapper-permalink .tweet-actions,
/* Instagram photo display when tweet opened */
.open .cards-instagram,
.wrapper-permalink .cards-instagram {
    display:block !important;
}

/* Quote Tweet icon color */
.retweeted #QuoteTweet .Icon--retweet {
    color:#999 !important;
}

/* Instagram Photo Spacing */
.cards-instagram {
    padding-top:16px !important;
}

/* ============ Connect Page ============ */
/* Connect page favorite or retweet tweet content font size */
.stream-item-activity-me .latest-tweet {
    font-size:15px !important;
}

/* ============ Me Page ============ */
/* Me page resize the profile card width */
.profile-card.profile-header {
    width:100% !important;
    padding:0 !important;
    float:none !important;
}

/* Guest Profile */
.wrapper .profile-card.module.component {
    display:block !important;
}

.profile-header-inner-overlay {
    width:100% !important;
}

/* ============ Lists Page ============ */
/* List font size */
.wrapper-list h3 {
    font-size:16px !important;
}

/* ? */
.new-tweets-bar {
    padding:15px 0 !important;
    font-size:14px !important;
}

/* ============ iTwitter Notice ============ */
.itwitter-notice {
    margin:0 0 10px;
    background:url(chrome-extension://ndelaoaaaljnlnaohgopoaflinhafibm/logo_64x64.png) 10px 10px #FFF no-repeat;
    border:0 solid rgba(0,0,0,0.25);
    box-shadow:0 1px 4px rgba(0,0,0,0.25);
    width:370px;
    padding:20px 5px 5px 85px;
    border-radius:4px;
    color:#292f33;
    position:absolute;
    right:-15px;
    top:57px;
    z-index:900;
    text-align:left;
}

.itwitter-notice p {
    margin-bottom:6px;
    line-height:20px;
    font-size:16px;
}

.itwitter-notice p.itwitter-notice-cn-line {
    padding-top:5px;
}

.itwitter-notice .close {
    position:absolute;
    right:5px;
    top:10px;
    width:12px;
    height:12px;
    cursor:pointer;
}

.itwitter-notice:before {
    content:"";
    position:absolute;
    right:25px;
    top:-14px;
    z-index:901;
    width:0;
    height:0;
    font-size:0;
    line-height:0;
    border-color:transparent transparent #FFF;
    border-style:solid;
    border-width:7px;
}

.itwitter-notice:after {
    content:"";
    position:absolute;
    right:24px;
    top:-17px;
    z-index:888;
    width:0;
    height:0;
    font-size:0;
    line-height:0;
    border-color:transparent transparent rgba(0,0,0,0.05);
    border-style:solid;
    border-width:8px;
}

.itwitter-animation-block {
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-name:fadeInUp;
    animation-name:fadeInUp;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity:0;
        -webkit-transform:translateY(20px);
        transform:translateY(20px);
    }
    100% {
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity:0;
        -webkit-transform:translateY(20px);
        -ms-transform:translateY(20px);
        transform:translateY(20px);
    }
    100% {
        opacity:1;
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
        transform:translateY(0);
    }
}

.itwitter-animation-hidden {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name:fadeOutDown;
    animation-name:fadeOutDown;
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}

/* ============ Test ============ */
.test {
    background:#DE0000 !important;
}